.footer-registration
  .footer-registration-box
    = link_to "#", class: "footer-box__link" do
      %span.footer-registration-box__link--text
        プライパシーポリシー
      %span.footer-registration-box__link--text
        メルカリ利用規約
      %span.footer-registration-box__link--text
        特定商取引に関する表記
  .footer-registration__logo
    = link_to "#", class: "footer__logo--link" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?613028459", class: "icon_image"
  %P.footer-registration--text
    &copy; 2019 Mercari
