= render './shared/profile_header';
= render './shared/gratel';

.search-container
  .search-container__side
  .search-container__content
    .search-container__content__items-box-container
      %h2.search-result-head 検索結果 1-48件
      .items-box-content
        .items-box-content__items-box
          =link_to "#" do
            .items-box-photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m91334683040_1.jpg?1558759048'
            .items-box-body
              %h3.items-box-body__items-box-name タイタニック('97米)〈2002年9月2日までの期間限定出荷〉
              .items-box-body__items-box-num
                .items-box-body__items-box-num__items-box-price ¥910
                .items-box-body__items-box-num__like
                  =icon('fas', 'heart')
                  %span 14
              %p.items-box-body__items-box-tax (税込)
        .items-box-content__items-box
          =link_to "#" do
            .items-box-photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m91334683040_1.jpg?1558759048'
            .items-box-body
              %h3.items-box-body__items-box-name タイタニック('97米)〈2002年9月2日までの期間限定出荷〉
              .items-box-body__items-box-num
                .items-box-body__items-box-num__items-box-price ¥910
                .items-box-body__items-box-num__like
                  =icon('fas', 'heart')
                  %span 14
              %p.items-box-body__items-box-tax (税込)
        .items-box-content__items-box
          =link_to "#" do
            .items-box-photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m91334683040_1.jpg?1558759048'
            .items-box-body
              %h3.items-box-body__items-box-name タイタニック('97米)〈2002年9月2日までの期間限定出荷〉
              .items-box-body__items-box-num
                .items-box-body__items-box-num__items-box-price ¥910
                .items-box-body__items-box-num__like
                  =icon('fas', 'heart')
                  %span 14
              %p.items-box-body__items-box-tax (税込)
        .items-box-content__items-box
          =link_to "#" do
            .items-box-photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m91334683040_1.jpg?1558759048'
            .items-box-body
              %h3.items-box-body__items-box-name タイタニック('97米)〈2002年9月2日までの期間限定出荷〉
              .items-box-body__items-box-num
                .items-box-body__items-box-num__items-box-price ¥910
                .items-box-body__items-box-num__like
                  =icon('fas', 'heart')
                  %span 14
              %p.items-box-body__items-box-tax (税込)
        .items-box-content__items-box
          =link_to "#" do
            .items-box-photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m91334683040_1.jpg?1558759048'
            .items-box-body
              %h3.items-box-body__items-box-name タイタニック('97米)〈2002年9月2日までの期間限定出荷〉
              .items-box-body__items-box-num
                .items-box-body__items-box-num__items-box-price ¥910
                .items-box-body__items-box-num__like
                  =icon('fas', 'heart')
                  %span 14
              %p.items-box-body__items-box-tax (税込)
        .items-box-content__items-box
          =link_to "#" do
            .items-box-photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m91334683040_1.jpg?1558759048'
            .items-box-body
              %h3.items-box-body__items-box-name タイタニック('97米)〈2002年9月2日までの期間限定出荷〉
              .items-box-body__items-box-num
                .items-box-body__items-box-num__items-box-price ¥910
                .items-box-body__items-box-num__like
                  =icon('fas', 'heart')
                  %span 14
              %p.items-box-body__items-box-tax (税込)
= render './shared/app-banner';
= render './shared/footer';

