.app-banner{
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?62593201");
  background-position: center;
  background-size: cover;
  height: 260px;
  &--inner{
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: $whiteColor;
    position: relative;
    &--contents{
      padding-top: 50px;
      &__text{
        h2{
          color: $whiteColor;
          font-weight: bold;
          font-size: 16px;
        }
        p{
          color: $whiteColor;
          margin: 10px 0 0;
          font-size: 24px;
        }
      }
      &--icons{
        margin: 20px 0 0;
        figure{
          display: flex;
          margin-left: 0;
          .download-icon{
            margin: 0 0 0 24px;
            line-height: 68px;
            display: flex;
            a{
              display: block;
              img{
                vertical-align: middle;
              }
              img:hover{
                opacity: .7;
              }
            }
            a:first-of-type{
              margin-right: 20px;
            }
          }
        }
      }
    }
    .figure{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      height: 260px;
    }
  }
}
