.main-container {
    width: 1020px;
    margin: 24px auto 0;
    padding: 0 0 40px;
    display: flex;
    flex-direction: row-reverse;
    &-content {
      width: 700px;
    }
    .chapter-head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      background: #fff;
      h2{
        line-height: 1.4;
      }
    }
    .single-inner {
      padding: 64px;
      border-top: 1px solid #f5f5f5;
      background-color: #fff;
      &-content {
        margin: 0 auto;
        &-sub-head {
          font-size: 16px;
          font-weight: bold;
          width: 320px;
          margin: 0 auto;
        }
      }
    }
    .settings-add-card {
      padding: 24px 0;
      width: 320px;
      margin: 0 auto;
      &-content{
        a{
          i{
            color: white;
          }
          span{
            color: white;
          }
        }
      }
      &--list--form {
        display: flex;
        justify-content: space-between;
        &__btn{
          background: #fff;
          border-radius: 3px;
          border: 1px solid #ea352d;
          color: #ea352d;
          height: 24px;
          width: 70px;
          font-size: 14px;
        }
      }



    }
    .btn-red {
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
    }
    .btn-default {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
    .settings-not-regist a{
      display: block;
      padding: 40px 0 0;
      text-align: right;
      border-top: 1px solid #eee;
      &:hover{
        opacity: .7;
      }
      span{
        color: $linkColor;
        font-size: 14px;
        &:hover{
          border-bottom: 1px solid $linkColor;
        }
      }
      i {
        color: $linkColor;
      }
    }
}

