.header{
  width: 1020px;
  margin: 0 auto;
  padding-top: 8px;
  &--inner-upper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__logo{
      height: 40px;
      padding-top: 2px;
      a{
        img{
          width: 134px;
          height: 36px;
        }
      }
    }
    &--form{
      margin-left: 45px;
      width: 100%;
      &__input-box{
        position: relative;
        height: 40px;
        &__text{
          width: 100%;
          height: 40px;
          padding: 0 42px 0 10px;
          border-radius: $radius;
          border: solid 1px #d3d3d3;
          background: #f5f5f5;
        }
        i{
          padding: 12px;
          position: absolute;
          top: 0;
          right: 0;
          color: #696969;
          cursor: pointer;
        }     
      }
    }
  }
  &--inner-lower{
    margin-top: 8px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    &--left{
      margin-top: 3px;
      a{
        padding-right:22px;
        height: 44px;
        line-height: 32px;
        i{
          color: $baseColor;
          padding-right: 2px; 
        }
        span{
          font-size: 14px;
          font-weight: bold;
          color: #000;
          letter-spacing: 1px;
          &:hover{
            color: $linkColor;
          }
        }
      }
    }
    &__right{
      height: 44px;
      line-height: 32px;
      a{
      padding: 7px 10px;
      margin-left: 7px;
      border-radius: $radius;
      font-size: 14px;
      }
      .btn-red{
        background: $baseColor;
        border: 1px solid $baseColor;
        color: #fff;
      }
      .header-signup{
        border: 1px solid $linkColor;
        background: #fff;
        color: $linkColor;
        &:hover{
          transition: .5s;
          background: $linkColor;
          color: #fff;
        }
      }
    }
  }
}
