.main{
  background: $backGroundColor;
  .swiper-container{
    .swiper-wrapper{
      .swiper-slide{
        height: 390px;
        background-size: cover;
        a{
          display: block;
          width: 100%;
          height: 100%;
        }
        .app-download--content{
          max-width: 860px;
          height: 390px;
          margin: 0 auto;
          position: relative;
          &__h2{
            padding-top: 40px;
            font-size: 60px;
            line-height: 1.2;
            font-weight: bold;
          }
          &__p{
            margin: 16px 0 0;
            font-size: 18px;
          }
          &__app-btns{
            margin: 24px 0 0;
            line-height: 0;
            display: flex;
            &__link{
              width: 170px;
              height: 50px;
              margin-right: 10px;
              img{
                width: 100%;
              }
            }
            &__phone{
              height: 100%;
              width: auto;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
      }
      .natukashi{
        background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg");
        background-position: center center; 
        background-size:contain;
        background-repeat: repeat-x;
      }
      .camp{
        background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg");
        background-position: center center; 
        background-size:contain;
        background-repeat: repeat-x;
      }
      .app-download{
        background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg");
      }
    }
    .swiper-button-prev{
      left: 60px;
      background-size: 20px 44px;
    }
    .swiper-button-next{
      right: 60px;
      background-size: 20px 44px;
    }
    .swiper-pagination{
      .swiper-pagination-bullet{
        background: rgba(0,0,0,0.5);
        width: 12px;
        height: 12px;
      }
    }
  }
  &--pickup-container{
    padding: 40px 0;
    &__name{
      font-size: 28px;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    &--items-container{
      width: 940px;
      margin: 0 auto;
      &__name{
        margin: 26px 11px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        a{
          @include linkHover($solid: 2px);
        }
      }
      &--items{
        width: auto;
        height: 330px;
        display: flex;
        &__item{
          margin: 0 0 0 20px;
          width: 213px;
          height: 330px;
          background: $whiteColor;
          a{
            display: block;
            height: 330px;
            position: relative;
            .item-photo{
              padding: 0;
              margin: 0;
              position: relative;
              img{
                width: 100%;
                height: 220px;
                object-fit: cover;
                vertical-align: bottom;
              }
              figcaption{
                position: absolute;
                width: 100px;
                height: 100px;
                top: 0;
                left: 0;
                border-top: 50px solid $baseColor;
                border-right: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 50px solid $baseColor;
                }
                .item-sold-out-badge{
                  position: absolute;
                  top: 21px;
                  left: 0;
                  div{
                    transform: rotate(-45deg);
                    color: $whiteColor;
                    font-size: 26px;
                  }
              }
            }
            .item-body{
              padding: 16px;
              height: 110px;
              width: 100%;
              position: absolute;
              bottom: 0;
              &__name{
                position: relative;
                overflow: hidden;
                font-weight: normal;
                margin: 0 0 5px;
                height: 3em;
                line-height: 1.5;
                font-size: 16px;
                &:after{
                  display: block;
                  content: '';
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 50%;
                  height: 1.5em;
                  background: linear-gradient(to right, rgba(255,255,255,0), $whiteColor 72%);
                }
              }
              &--num{
                display: flex;
                justify-content: space-between;
                &__price{
                  font-weight: 600;
                }
                &__favorite{
                  
                  i{
                    color: #d3d3d3;
                  }
                }
              }
              p{
                font-size: 10px;
              }
            }
          }
        }
      }
      &__view-all{
        padding: 20px 0 30px;
        width: 99.5%;
        text-align: right;
        a{
          color: $linkColor;
          font-size: 14px;
          @include linkHover
        }
      }
    }
  }
}
