  .bread-crumbs{
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    ul{
      width: 1020px;
      overflow: visible;
      margin: 0 auto;
      padding: 16px 0;
      white-space: normal;
      li{
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        text-overflow: ellipsis;
        white-space: nowrap;
        .breadcrumbs{
          span{
            font-weight: 600;
          }
        }
      }
      i{
        margin: 0 8px;
        color: #888;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  .main--l-container{
    width: 1020px;
    margin: 40px auto 0;
    padding: 0 0 40px;
    display: flex;
    flex-direction: row-reverse;
    &--l-containt{
      width: 700px;

      &--l-chapter-container{
        margin:0;
        background-color: #fff;
        border-bottom: 1px solid #f5f5f5;
        line-height: 1.4;
        text-align:center;
        &--l-chapter-head{
          font-size:24px;
          padding: 8px 24px;
          font-weight: bold;
        }
        &--setting-profile-icon{
          padding: 72px 16px 24px;
          background-image:url("https://www.mercari.com//jp/assets/img/mypage/user-bg.jpg?61284655");
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
          font-size:0;
          figure{
            display: inline-block;
            overflow: hidden;
            border-radius: 50%;
            vertical-align: middle;
            width: 60px;
            height: 60px;
            text-align: center;
          } 
          input{
            width:220px;
            margin:0 0 0 8px;
            vertical-align:middle;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius:4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &--setting-profile-content{
          padding: 40px 16px;
          &--textarea-default{
            min-height: 216px;
            display: block;
            max-width:100%;
            padding: 10px;
            border:1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            width: 100%;
          }
          &--btn-default{
            margin: 16px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
    &--l-side{
      width: 280px;
      margin: 0 40px 0 0;
      li{
        position: relative;
        display: block;
        min-height: 48px;
        padding: 16px;
        background: #fff;
        font-size:14px;
        color: #333;
        touch-action: manipulation;
        border-top: 1px solid #eee;
        i{
          position: absolute;
          top: 50%;
          right: 16px;
          color: #ccc;
          transform: translate(0, -50%);
          transition: all ease-out .2s;
        }
      }
      h3{
        margin :40px 0 0 ;
        font-size: 16px;
        font-family: メイリオ;
      }
    }
  }


