.search-container{
  position: relative;
  margin: 40px auto 0;
  width: 1030px;
  height:1000px;
  &__side{
    width: 280px;
    margin: 0 40px 0 0;
    display: inline-block;
  }
  &__content{
    width: 700px;

    float: right;
    &__items-box-container{
      .search-result-head{
        margin: 0 0 8px;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.4
      }
      .items-box-content{
        width: auto;
        margin: 0 auto;
        &__items-box{
          margin:0;
          margin: 0 20px 20px 0;
          width: 150px; 
          position: relative;
          float: left;
          background: #fff;
          .items-box-photo{
            width: 160px;
            height: 160px;
            img{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
            }
          }
          .items-box-body{
            padding: 16px;
            height: 110px;
            &__items-box-name{
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
            }
            &__items-box-num{
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: justify;
              justify-content: space-between;
              margin: 8px 0 0;
              &__items-box-price{
                font-size:17px;
                font-weight: 600;
                color: #333;
              }
              &__like{
                font-size: 16px;
                font-weight: 400;
                color: #333;
                .fas{
                  color: #ccc;
                }
              }
            }
            &__items-box-tax{
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}