@charset "utf-8";

@import "./reset";
@import "./config/variable";
@import "./mixin/mixin";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import './common';

@import "./header";
@import "./item_messages";
@import "./app-banner";
@import "./footer";
@import "./footer-sell-btn";

