@import "./reset";
@import "./font-awesome";
@import "./variable";
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333333
}

@import "./header";
@import "./item_messages";
@import "./footer"
