.footer
  .footer--nav
    .footer--nav--cell
      %h2.footer--nav--cell__head メルカリについて
      %ul
        %li
          %a{href: "#"} 会社概要（運営会社）
        %li
          %a{href: "#"} 採用情報
        %li
          %a{href: "#"} プレスリリース
        %li
          %a{href: "#"} 公式ブログ
        %li
          %a{href: "#"} メルカリロゴ利用ガイドライン
        .footer-social
          %a{href: "#"}
            = icon('fab', 'twitter')
          %a{href: "#"}
            = icon('fab', 'facebook')
    .footer--nav--cell
      %h2.footer--nav--cell__head ヘルプ＆ガイド
      %ul
        %li
          %a{href: "#"} メルカリガイド
        %li
          %a{href: "#"} らくらくメルカリ便
        %li
          %a{href: "#"} ゆうゆうメルカリ便
        %li
          %a{href: "#"} 大型メルカリ便
        %li
          %a{href: "#"} 車体取引ガイド
        %li
          %a{href: "#"} メルカリあんしん・あんぜん宣言！
        %li
          %a{href: "#"} 偽ブランド品撲滅への取り組み
        %li
          %a{href: "#"} メルカリボックス
    .footer--nav--cell.long-width
      %h2.footer--nav--cell__head.long-width__head プライバシーと利用規約
      .long-width__inner
        %ul
          %li
            %a{href: "#"} プライバシーポリシー
          %li
            %a{href: "#"} メルカリ利用規約
          %li
            %a{href: "#"} あんしんスマホサポート制度に関する利用特約
          %li
            %a{href: "#"} コンプライアンスポリシー
        %ul
          %li
            %a{href: "#"} 個人データの安全管理に係る基本方針
          %li
            %a{href: "#"} 特定商取引に関する表記
          %li
            %a{href: "#"} 資金決済法に基づく表示
          %li
            %a{href: "#"} 法令順守と犯罪抑止のために
          %li
            %a{href: "#"} 返品・返金ポリシー
    .footer--nav--cell.nav-lang
      %h2.footer--nav--cell__head 国
      %ul
        %li
          %a{href: "#"} 日本
        %li
          %a{href: "#"} United States
  .footer--bottom
    %a.footer--bottom__logo{href: "#"}
      %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?4194600336", style: "width: 124px, height: 33px"}
    %span.footer--bottom__copyright
      %small{style: "color: #fff"} © 2019 Mercari

